<!--proviteを使用しHTMLタイトルを取得し:title変数に定義-->
<!--最終的に定義した：titleは個別にテンプレートに適応されページに反映される-->

<% provide(:title, "Contact") %>
   <h1>Contact</h1>
    <p>
      Contact the Ruby on Rails Tutorial about the sample app at the
      <a href="https://railstutorial.jp/contact">contact page</a>.
    </p>
