<!--proviteを使用しHTMLタイトルを取得し:title変数に定義-->
<!--最終的に定義した：titleはテンプレートに適応されページに反映される-->

    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
